{% extends 'base.html' %} {% load static %} {% load filters %}
<x></x>
{% block titulo_da_guia %}
<title>{% if empresa.nome_empresa %} {{empresa.nome_empresa}} {% else %} CarShop {% endif %} - {{carro.modelo}}</title>
{% endblock %} {% block conteudo %}

<style>
  .text-color {
    color: #444444;
  }

  .container_carro_detalhes {
    z-index: 1;
  }

  .titulo-detalhes {
    text-align: center;
    font-size: 40px;
  }

  .container-lista {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    flex: 1 0 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: #444444;
  }

  .lista {
    font-size: 16px;
    line-height: 40px;
    display: flex;
    flex-direction: column;
  }

  .itens-lista {
    font-weight: 500;
  }

  .lista-opcionais {
    justify-content: flex-start;
  }

  .itens-lista-opcionais {
    width: 150px;
    line-height: 20px;
    list-style-type: circle;
  }

  .titulo-tem-interesse {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #444444;
  }

  .botao-entrar-em-contato {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
  }

  .btn-custom-size.lg-sizes {
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
  }

  @media (max-device-width: 768px) {
    .single-product-img {
      margin-top: 30px;
    }
  }
</style>

<!-- Begin Main Content Area  -->
<main class="main-content mb-5">
  <div
    class="single-product-area section-space-top-100 container_carro_detalhes"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="single-product-img">
            <div
              class="swiper-container single-product-slider container_detalhes"
            >
              <div class="swiper-wrapper">
                <!-- Imagens -->
                {% for img in carro.imagescarromodels_set.all %}
                <div class="swiper-slide">
                  <a
                    href="{{ img.imagem.url }}"
                    class="single-img gallery-popup"
                  >
                    <img
                      class="img-full"
                      src="{{ img.imagem.url }}"
                      alt="Product Image"
                    />
                  </a>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="thumbs-arrow-holder">
              <div class="swiper-container single-product-thumbs">
                <div class="swiper-wrapper">
                  <!-- Imagens -->
                  {% for img in carro.imagescarromodels_set.all %}
                  <a href="#" class="swiper-slide">
                    <img
                      class="img-full"
                      src="{{ img.imagem.url }}"
                      alt="Product Thumnail"
                    />
                  </a>
                  {% endfor %}
                </div>
              </div>
              <!-- Add Arrows -->
              <div class="thumbs-button-wrap d-none d-md-block">
                <div class="thumbs-button-prev">
                  <i class="pe-7s-angle-left"></i>
                </div>
                <div class="thumbs-button-next">
                  <i class="pe-7s-angle-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 pt-9 pt-lg-0">
          <div class="single-product-content">
            <h2 class="titulo-detalhes mb-3">{{ carro.modelo }}</h2>
            <div class="container-lista">
              <ul class="lista">
                <li>
                  <div class="price-box pb-3 container-preco">
                    <span class="new-price text-color">R$</span>
                    <span class="new-price text-danger"
                      >{{ carro.preco|formata_preco }}</span
                    >
                  </div>
                </li>
                <li><b class="itens-lista">Marca:</b> {{carro.marca}}</li>
                <li><b class="itens-lista">Ano:</b> {{carro.ano}}</li>
                <li><b class="itens-lista">Cor:</b> {{carro.cor}}</li>
                <li>
                  <b class="itens-lista">Quilometragem:</b>
                  {{carro.quilometragem|formata_quilometragem}}
                </li>
                <li>
                  <b class="itens-lista">Motorização:</b> {{carro.motorizacao}}
                </li>
                <li><b class="itens-lista">Câmbio:</b> {{carro.cambio}}</li>
                <li>
                  <b class="itens-lista">Categoria:</b> {{carro.categoria}}
                </li>
                <li>
                  <b class="itens-lista">Categoria de Conservação:</b>
                  {{ carro.estado_de_conservacao}}
                </li>
              </ul>
              {% if carro.opcionais %}
              <ul class="lista">
                <li class="lista-opcionais">
                  <b class="itens-lista">Opcionais: </b>
                  <ul class="itens-lista-opcionais">
                    {{ carro.opcionais| safe }}
                  </ul>
                </li>
              </ul>
              {% endif %}
            </div>
            <div class="titulo-tem-interesse">
              Tem Interesse? Entre em contato.
            </div>
            <div class="botao-entrar-em-contato">
              <ul class="quantity-with-btn pb-9 pt-2">
                <li class="add-to-cart">
                  <a
                    class="btn btn-custom-size lg-sizes btn-primary"
                    href="https://api.whatsapp.com/send?phone=553496540161&text=Tenho%20interesse%20em%20um%20dos%20seus%20carros.%20🚗%20{{carro.modelo}},%20📆%20{{carro.ano}},%20🎨%20{{carro.cor}},%20{{carro.quilometragem|formata_quilometragem}},%20💵%20R${{carro.preco|formata_preco}}."
                    target="_blank"
                    >Entrar em contato <i class="fa fa-whatsapp"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Main Content Area End Here  -->

{% endblock %}

<!-- Begin Main Menu -->
{% block contacts_main_menu %}
{% if empresa.instagram_empresa or empresa.whatsapp_empresa or empresa.facebook_empresa or empresa.youtube_empresa %}
<li class="drop-holder">
  <a href="#"
    >Fale Conosco
    <i class="pe-7s-angle-down"></i>
  </a>
  <ul class="drop-menu">
    {% if empresa.instagram_empresa %}
    <li>
      <a
        href="{{ empresa.instagram_empresa }}"
        target="_blank"
      >
        <i class="fa fa-instagram"></i> Instagram</a
      >
    </li>
    {% endif %}
    {% if empresa.whatsapp_empresa %}
    <li>
      <a
        href="https://wa.me/55{{ empresa.whatsapp_empresa }}?text=Tenho+interesse+nos+seus+serviços"
        target="_blank"
      >
        <i class="fa fa-whatsapp"></i> Whatsapp</a
      >
    </li>
    {% endif %}
    {% if empresa.facebook_empresa %}
    <li>
      <a
        href="{{ empresa.facebook_empresa }}"
        target="_blank"
      >
        <i class="fa fa-facebook"></i> Facebook</a
      >
    </li>
    {% endif %}
    {% if empresa.youtube_empresa %}
    <li>
      <a
        href="{{ empresa.youtube_empresa }}"
        target="_blank"
      >
        <i class="fa fa-youtube"></i> YouTube</a
      >
    </li>
    {% endif %}
  </ul>
</li>
{% endif %}
{% endblock %}
<!-- Main Menu End Here -->


<!-- Begin Mobile Menu -->
{% block contacts_mobile_menu %}
{% if empresa.instagram_empresa or empresa.whatsapp_empresa or empresa.facebook_empresa or empresa.youtube_empresa %}
<li class="menu-item-has-children">
  <a href="#">
    <span class="mm-text"
      >Fale Conosco
      <i class="pe-7s-angle-down"></i>
    </span>
  </a>
  <ul class="sub-menu">
    {% if empresa.instagram_empresa %}
    <li>
      <a
        href="{{ empresa.instagram_empresa }}"
        target="_blank"
      >
        <span class="mm-text"
          >Instagram<i class="fa fa-instagram"></i>
        </span>
      </a>
    </li>
    {% endif %}
    {% if empresa.whatsapp_empresa %}
    <li>
      <a
        href="https://wa.me/55{{ empresa.whatsapp_empresa }}?text=Tenho+interesse+nos+seus+serviços"
        target="_blank"
      >
        <span class="mm-text"
          >Whatsapp<i class="fa fa-whatsapp"></i
        ></span>
      </a>
    </li>
    {% endif %}
    {% if empresa.facebook_empresa %}
    <li>
      <a
        href="{{ empresa.facebook_empresa }}"
        target="_blank"
      >
        <span class="mm-text"
          >Facebook<i class="fa fa-facebook"></i
        ></span>
      </a>
    </li>
    {% endif %}
    {% if empresa.youtube_empresa %}
    <li>
      <a
        href="{{ empresa.youtube_empresa }}"
        target="_blank"
      >
        <span class="mm-text"
          >YouTube<i class="fa fa-youtube"></i
        ></span>
      </a>
    </li>
    {% endif %}
  </ul>
</li>
{% endif %}
{% endblock %}
<!-- Mobile Menu End Here -->


<!-- Begin Footer Menu -->
{% block contacts_footer %}
{% if empresa.instagram_empresa %}
<li>
  <a
    href="{{ empresa.instagram_empresa }}"
    data-tippy="Instagram"
    data-tippy-inertia="true"
    data-tippy-animation="shift-away"
    data-tippy-delay="50"
    data-tippy-arrow="true"
    data-tippy-theme="sharpborder"
    target="_blank"
  >
    <i class="fa fa-instagram"></i>
  </a>
</li>
{% endif %}
{% if empresa.whatsapp_empresa %}
<li>
  <a
    href="https://wa.me/{{ empresa.whatsapp_empresa }}?text=Tenho+interesse+nos+seus+serviços"
    data-tippy="Whatsapp"
    data-tippy-inertia="true"
    data-tippy-animation="shift-away"
    data-tippy-delay="50"
    data-tippy-arrow="true"
    data-tippy-theme="sharpborder"
    target="_blank"
  >
    <i class="fa fa-whatsapp"></i>
  </a>
</li>
{% endif %}
{% if empresa.facebook_empresa %}
<li>
  <a
    href="{{ empresa.facebook_empresa }}"
    data-tippy="Facebook"
    data-tippy-inertia="true"
    data-tippy-animation="shift-away"
    data-tippy-delay="50"
    data-tippy-arrow="true"
    data-tippy-theme="sharpborder"
    target="_blank"
  >
    <i class="fa fa-facebook"></i>
  </a>
</li>
{% endif %}
{% if empresa.youtube_empresa %}
<li>
  <a
    href="{{ empresa.youtube_empresa }}"
    data-tippy="YouTube"
    data-tippy-inertia="true"
    data-tippy-animation="shift-away"
    data-tippy-delay="50"
    data-tippy-arrow="true"
    data-tippy-theme="sharpborder"
    target="_blank"
  >
    <i class="fa fa-youtube"></i>
  </a>
</li>
{% endif %}
{%endblock%}
<!-- Footer Menu End Here -->
